<section>
  <h2>Crie sua própria sala</h2>
  <form action="/room/create-room">
    <label class="sr-only" for="room-pass">Insira um senha</label>
    <input id="room-pas" type="password" placeholder="Insira um senha">
    <button>
      <img src="./images/users-white.svg" alt="Entrar na sala">
      Criar Sala</button>
  </form>
</section>